<div class="row">
  <h1 class="text-center">Dashboard</h1>

  <div class="col-md-4">
    <h2 class="text-center">Books</h2>
    <div class="dashboard-container">
        <%= render "books" %>
    </div>
  </div>

  <div class="col-md-4">
    <h2 class="text-center">Purchased</h2>
    <div class="dashboard-container">
      <%= render "purchased" %>
    </div>
  </div>

  <div class="col-md-4">
    <h2 class="text-center">Sales</h2>
    <div class="dashboard-container">
      <%= render "sales" %>
    </div>
  </div>
</div>