<div class="jumbotron">
  <h1>Welcome to <i class="fa fa-book"></i>Stuk Books!</h1>
  <h2>The largest Online Digital Book Store</h2>
  <%= link_to 'Books', '#', class: 'btn btn-primary btn-lg' %><%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>